* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.cartao{
    background-color: bisque;
    color: black;

}

.cartao-escuro {
    background-color: rgb(75, 67, 58);
    color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: rgb(165, 128, 79);
    padding: 20px;
    position: relative;
    z-index: 0;
}
header li {
    font-weight: bold;
}

#cabecalho {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
    margin-right: 20px;
}

#input-busca {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
}

.escondido {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.visivel {
    visibility: visible;
    opacity: 1;
    height: auto;
}

#svg-busca {
    background-color: black;
    mask-image: url(./svg/busca.svg);
    -webkit-mask-image: url(./svg/busca.svg);
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.grupo-livro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#cadastro-livro, .cadastrar-usuario{
    position: absolute;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(168, 143, 111);
    margin-top: 40px;
}

#adicionar-livro, #gerenciar-conta, #emprestimos{
    cursor: pointer;
}

.card-livro, .card-usuario {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-livro input, .card-usuario input{
    border-radius: 5px;
    padding: 1px;
}

#btn-add-livro, .btn-conta{
    width: 100%;
    height: 25px;
    border-radius: 5px;
}

#capa-do-livro {
    display: none;
}

#label-capa {
    cursor: pointer;
}

.grupo-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main h2 {
    margin: 50px 30px;
    font-weight: bold;
}