* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#login-form{
    max-width: 400px;
    height: 370px;
    margin: 100px auto;
    padding: 30px;
    background-color: rgb(165, 128, 79);
    border-radius: 8px;
    gap : 20px;
    display: flex;
    flex-direction: column;
}

.btns-container{
    display: flex;
    justify-content: space-around;
}

#login-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

#login-form input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#login-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

#btn-login {
    width: 170px;
    height: 30px;
    background-color: rgb(75, 67, 58);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#btn-login:hover {
    background-color: rgb(60, 50, 40);
}

#btn-conectar{
    width: 170px;
    height: 30px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#btn-conectar:hover {
    background-color: rgb(170, 127, 71);
    color: whitesmoke;
}

.cartao{
    background-color: bisque;
    color: black;

}

.cartao-escuro {
    background-color: rgb(75, 67, 58);
    color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: rgb(165, 128, 79);
    padding: 20px;
    position: relative;
    z-index: 0;
}
header li {
    font-weight: bold;
}

#cabecalho {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
    margin-right: 20px;
}

#input-busca {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
}

.escondido {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.visivel {
    visibility: visible;
    opacity: 1;
    height: auto;
}

#svg-busca {
    background-color: black;
    mask-image: url(./svg/busca.svg);
    -webkit-mask-image: url(./svg/busca.svg);
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.grupo-livro, .grupo-usuario, .grupo-emprestimo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#cadastro-livro, #usuario-info, #lista-emprestimos {
    position: absolute;
    z-index: 1;
    padding: 10px;
    max-width: 200px;
    border-radius: 5px;
    background-color: rgb(168, 143, 111);
    margin-top: 40px;
}

#lista-emprestimos {
    max-width: fit-content;
}

#lista-emprestimos small {
    font-style: italic;
    color: rgb(46, 46, 46);
    
}

#usuario-info {
    max-width: fit-content
}

#adicionar-livro, #gerenciar-conta, #emprestimos{
    cursor: pointer;
}

#adicionar-livro:hover, #gerenciar-conta:hover, #emprestimos:hover {
    color: whitesmoke;
}

.card-livro {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-livro input{
    border-radius: 5px;
    padding: 1px;
}

#btn-add-livro{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(75, 67, 58);
    color: whitesmoke;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#btn-add-livro:hover {
    background-color: rgb(56, 197, 56);
    transform: scale(1.05);
}

#capa-do-livro {
    display: none;
}

#label-capa {
    cursor: pointer;
}

#usuario-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#usuario-info button {
    width: 100%;
    height: 30px;
    background-color: rgb(75, 67, 58);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#usuario-info button:hover {
    background-color: rgb(146, 29, 29);
    transform: scale(1.05);
}

#h2-lista {
    margin: 50px 30px;
    font-weight: bold;
}

.cadastrar-usuario {
    width: 510px;
    margin: 100px auto;
    align-self: center;
    background-color: rgb(165, 128, 79);
    padding: 30px;
    gap: 30px;
    border-radius: 8px;
    overflow: hidden;
}

.card-usuario {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.cadastrar-usuario h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.cadastrar-usuario input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    padding: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.cadastrar-usuario label {
    margin-bottom: 5px;
    font-weight: bold;
}

.btn-conta {
    width: 100%;
    height: 30px;
    background-color: rgb(75, 67, 58);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.mensagem{
    margin-top: 7px;
    min-height: 12px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.mensagem.sucesso{
    color: green;
}

.mensagem.erro{
    color: red;
}

.lista-livros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-left: 20px;
    list-style: none;
}

.lista-livros li {
    background-color: rgb(158, 126, 83);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
}